{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.reports'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.reports'|trans }}</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.isAdminRole() %}
        <div class="mb-3">
            <a href="{{ url('report_create') }}" title="{{ 'action.create'|trans }}">
                {{ 'report.create'|trans }}
            </a>
        </div>
    {% endif %}

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.category'|trans }}</th>
                <th>{{ 'label.created_at'|trans }}</th>
                <th>{{ 'label.updated_at'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>

            {% for report in pagination.items %}
                <tr>
                    <td>
                        <a href="{{ url('report_show', {id: report.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ report.title }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('report_index', {'filters_category_id' : report.category.id}) }}"
                           title="{{ report.category.name }}">
                            {{ report.category.name }}
                        </a>
                    </td>
                    <td>{{ report.createdAt|date('d.m.Y') }}</td>
                    <td>{{ report.updatedAt|date('d.m.Y') }}</td>
                    <td>
                        <a href="{{ url('report_show', {id: report.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.isAdminRole() %}
                            <a href="{{ url('report_edit', {id: report.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                            <a href="{{ url('report_delete', {id: report.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.no_records'|trans }}
        </p>
    {% endif %}
{% endblock %}